

<section *ngIf="stepOne" class="w-50 rounded bg-main-light mx-auto shadow p-3 mb-5">
    <form [formGroup]="forgetForm" (ngSubmit)="forgetPassword()">

        <label for="email">Email :</label>
        <input formControlName="email" type="email" class="form-control" id="email">
        <button class="btn w-100 mt-3 btn-success">Forget Password</button>
        <p *ngIf="userMsg" class="text-center alert alert-danger w-75 mx-auto p-1 my-3">{{userMsg}}</p>
    </form>
</section>

<section *ngIf="stepTwo" class="w-50 rounded bg-main-light mx-auto shadow p-3 mb-5">
    <form [formGroup]="verifyForm" (ngSubmit)="verifyCode()">

        <label for="resetCode">Reset Code :</label>
        <input formControlName="resetCode" type="text" class="form-control" id="resetCode">
        <button class="btn w-100 mt-3 btn-success">Reset Code</button>
        <p *ngIf="userMsg" class="text-center alert alert-danger w-75 mx-auto p-1 my-3">{{userMsg}}</p>


    </form>
</section>

<section *ngIf="stepThree" class="w-50 rounded bg-main-light mx-auto shadow p-3 mb-5">
    <form [formGroup]="resetPassForm" (ngSubmit)="resetPassword()">

        <label for="email">Email :</label>
        <input formControlName="email" type="email" class="form-control" id="email">

        <label for="resetPass">Reset Password :</label>
        <input formControlName="newPassword" type="text" class="form-control" id="resetPass">
        <button class="btn w-100 mt-3 btn-success">Reset Password</button>
        <p *ngIf="userMsg" class="text-center alert alert-danger w-75 mx-auto p-1 my-3">{{userMsg}}</p>
        

    </form>
</section>