

<section class="w-75 mx-auto shadow rounded rounded-4 p-4 my-4 bg-main-light">
    <h1 class="my-2">Register Now</h1>



    <form [formGroup]="registerForm" (ngSubmit)="handleForm()">

        <div  class="form-item">
            <label class="py-1" for="name">Name :</label>
            <input formControlName="name" type="text" class="form-control" id="name">

            <div *ngIf="registerForm.get('name')?.errors && registerForm.get('name')?.touched" class="alert alert-danger">
                <p *ngIf="registerForm.get('name')?.errors?.['required']">Name is required</p>
                <p *ngIf="registerForm.get('name')?.errors?.['minlength']">Name must be more than 3 chars</p>
                <p *ngIf="registerForm.get('name')?.errors?.['maxlength']">Name must be less than 20 chars</p>
            </div>

        </div>
        

        <div class="form-item">
            <label class="py-1" for="email">Email :</label>
            <input formControlName="email" type="email" class="form-control" id="email">

            <div *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.touched" class="alert alert-danger">
                <p *ngIf="registerForm.get('email')?.errors?.['required']">Email is required</p>
                <p *ngIf="registerForm.get('email')?.errors?.['email']">Enter valid email</p>
            </div>

        </div>
        

        <div class="form-item">
            <label class="py-1" for="password">Password :</label>
            <input formControlName="password" type="password" class="form-control" id="password">

            <div *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched" class="alert alert-danger">
                <p *ngIf="registerForm.get('password')?.errors?.['required']">password is required</p>
                <p *ngIf="registerForm.get('password')?.errors?.['pattern']">Enter valid Password</p>
            </div>

        </div>
    

        <div class="form-item">
            <label class="py-1" for="rePassword">Re-Password :</label>
            <input formControlName="rePassword" type="password" class="form-control" id="rePassword">

            <div *ngIf="registerForm.get('rePassword')?.errors && registerForm.get('rePassword')?.touched" class="alert alert-danger">
                <p *ngIf="registerForm.get('rePassword')?.errors?.['required']">password is required</p>
                <p *ngIf="registerForm.get('rePassword')?.errors?.['mismatch']">Password Confirmation is incorrect</p>
            </div>

        </div>

        <div class="form-item">
            <label class="py-1" for="phone">Phone :</label>
            <input  formControlName="phone" type="tel" class="form-control" id="phone">

            <div *ngIf="registerForm.get('phone')?.errors && registerForm.get('phone')?.touched" class="alert alert-danger">
                <p *ngIf="registerForm.get('phone')?.errors?.['required']">phone is required</p>
                <p *ngIf="registerForm.get('phone')?.errors?.['pattern']">Enter valid phone</p>
            </div>

        </div>
      

        <button [disabled]="registerForm.invalid" class="btn bg-main text-white d-block ms-auto mt-2">
            Register <i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin"></i>
        </button>

    </form>
    <h1 *ngIf="errMessege" class="h5 text-center alert alert-danger p-1 w-50 mx-auto mb-0">{{errMessege}}</h1>

</section>

