

<footer class="bg-main-light py-4">
    <div class="container">
        <h2>Get The FreshCart App</h2>
        <p class="text-muted">We Will send you a Link , open it in your phone to download the app</p>

        <div class="d-flex gap-3">
            <input type="email" class="form-control" placeholder="Email...">
            
            <button class="btn text-white bg-main flex-shrink-0">Share App Link</button>
        </div>

        <hr>

        <div class="d-flex justify-content-between text-center align-items-center">
            <div class="d-flex text-center m-3 align-items-center">
                <h3>Payment Partners</h3>
                <i class="fa-brands fa-amazon-pay p-2 fs-3 cursor-pointer"></i>
                <i class="fa-brands fa-cc-paypal p-2 fs-3 cursor-pointer"></i>
                <i class="fa-brands fa-cc-mastercard p-2 fs-3 cursor-pointer"></i>
                <i class="fa-solid fa-credit-card p-2 fs-3 cursor-pointer"></i>
            </div>

            <div class="text-center">
                <h3>Get deliveries with FreshCart</h3>
            </div>
        </div>


        <hr>

        <h3 class="h6 text-center"> &copy; 2024 Yousef Orabi All Rights Reserved</h3>


    </div>
</footer>