<section class="w-75 p-3 mx-auto mb-5 rounded shadow bg-main-light">
<h1 class="text-center">CheckOut Session</h1>
    <form [formGroup]="orderForm" (ngSubmit)="handleForm()">

        <div class="form-item">
            <label for="details">Details :</label>
            <input class="form-control my-1" type="text" id="details" formControlName="details">
        </div>

        <div class="form-item">
            <label for="phone">Phone :</label>
            <input class="form-control my-1" type="text" id="phone" formControlName="phone">
        </div>

        <div class="form-item">
            <label for="city">City :</label>
            <input class="form-control my-1" type="text" id="city" formControlName="city">
        </div>

        <button class="btn btn-success my-2">CheckOut</button>
    </form>

</section>